*{
    box-sizing: border-box;
}

main {
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main > footer {
    margin-top: auto;
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: 0;
  padding: 1.5rem;
}
  
#map {
  height: 400px;
  display: flex;
}

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #directions-panel {
    margin-top: 10px;
    background-color: #ffee77;
    padding: 10px;
    overflow: scroll;
    height: 174px;
  }